@model CoreLeaveSystem.Models.VacationRequestVM

@{
    ViewData["Title"] = "Details";
}

@if (Model.Approved == null)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Pending</h4>
        <br />
        <p>
            <strong>@Html.DisplayNameFor(model => model.RequestingEmployee):</strong> @Model.RequestingEmployee.Fullname 
        </p>
        <br />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
else if (Model.Approved == true)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Approved By @Model.ApprovedBy.Firstname</h4>
        <br />
        <p>
            <strong>@Html.DisplayNameFor(model => model.RequestingEmployee):</strong> @Model.RequestingEmployee.Fullname
        </p>
        <br />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Rejected By @Model.ApprovedBy.Firstname</h4>
        <br />
        <p>
            <strong>@Html.DisplayNameFor(model => model.RequestingEmployeeId):</strong> @Model.RequestingEmployee.Fullname
                  
        </p>
        <br />
        <p>B
            @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
<div>
    @if (Model.Approved == null)
    {
        <a class="btn btn-success" asp-action="ApproveRequest" asp-route-id="@Model.Id"><i class="fa fa-check"></i> Approve</a>
        <a class="btn btn-danger" asp-action="RejectRequest" asp-route-id="@Model.Id"><i calss="fa fa-remove"></i> Reject</a>
    }
    <a class="btn btn-secoondary" asp-action="Index"><i class="fa fa-arrow-left"></i> Back to List</a>
</div>
